.rectangle {
  counter-reset: li;
  list-style: none;
  padding: 0;
  border: 1px solid grey;
  float: left;
  clear: left;
  margin: 50px;
}
.rectangle .list-name{
  padding: 10px 30px;
  border: 1px solid grey;
  border-radius: 2px;
  display: block;
}
.rectangle .list-name {
  position: relative;
  display: block;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}
.rectangle .list-name:hover {
  cursor: pointer;
}

.rectangle .list-name:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}
.rectangle .list-name:hover:after {
  left: -.5em;
  border-left-color: #9097A2;
}

div.list-name:visited {
  background-color: #0000FF;
  color: white;
}
.chosen {
  background-color: #0000FF;
  color: white;
}
.list-name {
  font-size: 2rem;
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  cursor: pointer;
}
.list-names {
  font-size: 2rem;
  padding: 50px;
  cursor: pointer;
  margin: 0 auto;
   border: 1px solid #111111;
  width: 400px;
  height: 500px;
}
.list-name-image {
width: 300px;
height: 300px;
}
.second{
  border: 1px solid red;
}
ul> li{
  list-style: none;
}