.rectangle {
  counter-reset: li;
  list-style: none;
  padding: 0;
  border: 1px solid grey;
  float: left;
  clear: left;
  margin: 50px;
}
.rectangle li{
  padding: 10px 30px;
  border: 1px solid grey;
  border-radius: 2px;
  display: block;
}
.rectangle a {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}
.rectangle a:hover {
  cursor: pointer;
}

.rectangle a:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}
.rectangle a:hover:after {
  left: -.5em;
  border-left-color: #9097A2;
}
